#root {
  max-width: 1980px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  z-index: 5;
  margin-top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-inline: 1rem;
}

.widget-menu {
  background-color: var(--color-one);
  border-inline: 0.3rem solid var(--color-two);
}

.widgets-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
  align-items: flex-start;
}

.dashboard-panel {
  overflow: hidden;
  background: linear-gradient(var(--color-three), var(--color-four));
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  block-size: 100%;
}

.card {
  background-color: var(--color-one);
  border-radius: 2rem;
  border: solid 0.5rem var(--color-two);
  text-align: center;
  position: relative;
  margin: 1rem;
  padding: 1rem;
}

.delete-card {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
}