* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */

  --dark-one: #171111;
  --dark-two: #242424;
  --dark-three: #646cff;
  --dark-four: #a0a4ff;

  --light-one: #8CA9FF;
  --light-two: #AAC4F5;
  --light-three: #FFF8DE;
  --light-four: #FFF2C6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --color-one: var(--dark-one);
  --color-two: var(--dark-two);
  --color-three: var(--dark-three);
  --color-four: var(--dark-four);
  color: var(--color-four);
}

[data-theme='light'] {
  --color-one: var(--light-one);
  --color-two: var(--light-two);
  --color-three: var(--light-three);
  --color-four: var(--light-four);
  color: var(--color-four);
}

a {
  font-weight: 500;
  color: var(--color-two);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-two);
}

ul {
  list-style: none;
}

header {
  top: 0;
  z-index: 10;
  max-height: 20vh;
  background: linear-gradient(var(--color-two), var(--color-one));
  border-block-end: 0.3rem solid var(--color-two);
}

body {
  margin: 0;
  color: var(--color-four);
}

footer {
  text-align: center;
  background: linear-gradient(var(--color-one), var(--color-two));
  border-block-start: 0.3rem solid var(--color-two);
  block-size: 10vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

input {
  background-color: var(--color-two);
  color: var(--color-four);
}

select {
  background-color: inherit;
  color: inherit;
  border-radius: 1rem;
  padding: 0.5rem;
}
option {
  background-color: var(--color-one);
  color: var(--color-four);
}

button {
  border-radius: 8px;
  border: 0.2rem solid var(--color-two);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-one);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-four);
}
button:disabled {
  border-color: var(--color-four);
}
button:hover {
  border-color: var(--color-four);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */